@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756157;
}

.button-color0 {
  background-color: rgba(0, 0, 0, 0);
}

.button-color1 {
  background-color: #756157;
}

.button-color2 {
  background-color: #82B3D3;
}

.button-color3 {
  background-color: #7DB54F;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form .button  {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}


.header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  background-color:#ffffff;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  width: 460px;
  }

.navigation-user {
  width: 360px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.welcome {
  color:#ffffff;
  height: 485px;
  background-color: #000000;
  background: url("../images/welcome-background.jpg") no-repeat;
  background-size: 100% auto;
}

.main-index, .main-page {
  text-align: center;
  flex-grow: 1;
}

.advantages-slogan {
  padding: 0;
  margin: 69px 290px 25px;
}

.advantages-promo {
  padding: 0;
  margin: 0 274px 90px;
}

.advantages-title, .services-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: block;
  width: 400px;
  height: 385px;
}

.advantages-item-image {
  width: 800px;
}

.advantages-title {
  padding: 0;
  margin: 112px 112px 62px;
}

.advantages-description {
  padding: 0;
  margin: 0 85px auto;
}

.advantages-item:first-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:last-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.newsletter-index {
  color:#ffffff;
  background: url("../images/newsletter-background.jpg") no-repeat;
  background-size: 100% auto;
}

.field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  background-color:#F2F2F2 ;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
  vertical-align: top;
}

.filter {
  background: #000000 url("../images/filter-background.jpg") no-repeat 50%/cover;
  color:#ffffff;
}

.header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color:#ffffff;
}

.results-of-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.breadcrumbs-item {
  font-size: 16px;
  list-style:none;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.control-input {
  line-height: 23px;
}

.select-control {
  font-family: inherit;
  color: #333333;
}

.hotel-card-link {
  color:#333333;
  text-decoration: none;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.min-price {
  text-align: right;
}

.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  text-align: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  text-decoration: none;
  color:#ffffff;
}

.pagination-current {
  color:#000000;
  background: #F2F2F2;
}

.newsletter {
  text-align: center;
}
