@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
 }

.button-color0 {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.button-color1 {
  background-color: #756157;
}

.button-color2 {
  background-color: #82B3D3;
}

.button-color3 {
  background-color: #7DB54F;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.newsletter-form .button  {
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: 0;
  border-radius: 0px 4px 4px 0px;
}

.header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  background-color:#ffffff;
  gap: 28px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navigation-logo {
  margin-bottom: -15px;
  z-index: 1;

}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 550px;
  }

.navigation-item {
  display: block;
}

.navigation-user {
  margin-left: auto;
  align-items: center;
  max-width: 360px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756257;
  bottom: 0;
  right: 16px;
  left: 16px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-favourites {
  position: relative;
}

.navigation-favourites::before {
  position: absolute;
  content: "12";
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: block;
  right: 8px;
  top: 10px;
}

.navigation-item .button {
  padding: 8px 34px;
  margin-left: 20px;
 }

.navigation-search-icon:hover {
  fill:#8e8d8f ;
 }

.navigation-search-icon:focus {
  fill:#8e8d8f ;
  }

.navigation-search-icon:active {
  fill:#bcbabe ;
  }

.navigation-favourites-icon:hover {
  fill:#8e8d8f ;
  }

.navigation-favourites-icon:focus {
    fill:#8e8d8f ;
  }

.navigation-favourites-icon:active {
  fill:#bcbabe ;
  }

.navigation-link:hover {
    color:#8e8d8f;
  }

.navigation-link:focus {
    color:#8e8d8f;
  }

.navigation-link:active {
    color:#d3cfd6;
  }


.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome {
  color:#ffffff;
  background-color: #220643;
  background-image: url("../images/welcome-border.svg"), url("../images/welcome-background.jpg") ;
  background-repeat: no-repeat no-repeat;
  background-size: auto, cover;
  background-position: bottom center, center;
  padding: 50px 370px 82px;
 }

.main-index {
  flex-grow: 1;
  text-align: center;
}

.main-page {
  flex-grow: 1;
}

.advantages-title, .services-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-header {
  padding: 70px 274px;
}

.advantages-slogan {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-promo {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  padding: 112px 85px;
  width: 400px;
  box-sizing: border-box;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.advantages-item-wide {
  flex-direction: row;
  width: 1200px;
  padding: 0;
  background-color: #82B3D3;
  color:#ffffff;
  gap: 0;
}

.advantages-item:not(.advantages-item-wide)::before {
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  order: 2;
}

.advantages-wrapper {
  padding: 81px 85px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.advantages-wrapper::before {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
  order: 2;

}

.advantages-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 28px;
  padding-right: 28px;

}

.advantages-description {
  margin: 0px;
  order: 3;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:last-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.services-header {
  padding: 64px 347px;
}

.services-slogan {
  margin: 0;
  margin-bottom: 20px;
}

.services-promo {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  width: 400px;
  box-sizing: border-box;
  padding: 180px 85px 80px;
}


.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.services-item-living {
  background-image: url("../images/service-house.svg");
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.services-item-eating {
  background-image: url("../images/service-eating.svg");
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.services-item-souvenirs {
  background-image: url("../images/service-souvenir.svg");
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.services-title {
  margin: 0;
}

.services-description {
  margin: 0;
}

.search {
  padding: 96px 304px;
}

.search-slogan {
  margin: 0px;
  margin-bottom: 20px;
}

.search-description {
  margin: 0px;
  margin-bottom: 54px;

}

.newsletter {
  background-size: 100% auto;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.main-index .newsletter  {
  background: #000000 url("../images/newsletter-background.jpg") no-repeat 50%/cover;
  color:#ffffff;
}

.newsletter-slogan {
  margin: 0;
  margin-bottom: 20px;
 }

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
}

.field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  background-color:#F2F2F2 ;
  border-radius: 4px 0px 0px 4px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: 0;
  flex-grow: 1;
}

.page-footer {
 display: flex;
 justify-content: space-between;
 padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-button {
  display: block;
  width: 56px;
  height: 44px;
  position: relative;
  color:#83B3D3;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-button :hover {
  fill: #68A2CA;
}

.social-button :focus {
  fill: #68A2CA;
}

.social-button :active {
  fill:rgba(104, 162, 202, 0.3);
}


.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
  text-align: center;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 30%;
}

.footer-logo:hover {
  fill:#756157;
}

.footer-logo:focus {
  fill:#756157;
}

.footer-logo:active {
  fill:rgba(117, 97, 87, 0.3);
}

.filter {
  background: #000000 url("../images/filter-background.jpg") no-repeat 50%/cover;
  color:#ffffff;
  padding: 35px 70px 70px;
 }

.header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color:#ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.results {
  padding: 50px 70px 60px;
}

.results-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  column-gap: 28px;
}

.breadcrumbs-item {
  font-size: 16px;
  list-style-type: none;
  position: relative;

}


.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 6px;
  width: 8px;
  height: 12px;
  background: url("../images/breadcrumbs.svg") no-repeat;
  margin-left: 10px;

}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color:rgba(255, 255, 255);
}

.breadcrumbs-link:hover {
  fill:rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:focus {
  fill:rgba(255, 255, 255)
}

.breadcrumbs-link:active {
  fill:rgba(255, 255, 255, 0.3)
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form .button {
  padding: 8px 50px;
  cursor: pointer;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.results-view {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  }

.results-of-search {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr auto;
  gap: 16px 20px;
}

.hotel-card-image {
  object-fit: contain;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  margin-right: 70px;
}

.control-input {
  line-height: 23px;
}

.select-control {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

.view-sorting {
  display: flex;
  flex-wrap: wrap;
}

.view-button {
  width: 52px;
  height: 52px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-button:hover {
  border-color:#000000;
}

.view-button:focus {
  border-color:#000000;
}

.view-button:active {
  border-color:#68A2CA;
}



.hotel-card-link {
  color:#333333;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 16px;
}

.type-of-hotel {
  margin: 0;
}

.min-price {
  margin: 0;
  text-align: end;
}


.hotel-card .button {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;

}

.stars {
  margin: 0;
}

.stars-2 {
  background: url("../images/star2.svg") no-repeat;
}

.stars-3 {
  background: url("../images/star3.svg") no-repeat;
}

.stars-4 {
  background: url("../images/star4.svg") no-repeat;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  text-align: center;
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
}


.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  text-decoration: none;
  color:#ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  display: block;
 }

.pagination-link:not(.pagination-current):hover {
  background:#68A2CA;
}

.pagination-link:not(.pagination-current):focus {
  background:#68A2CA;
}

.pagination-link:not(.pagination-current):active {
  background:#82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color:#000000;
  background: #F2F2F2;
}

.pagination-item {
  width: 60px;
  text-align: center;
}


.button-color1:hover {
  background: #615048;
}

.button-color1:focus {
  background: #615048;
}

.button-color1:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-color2:hover {
  background: #68A2CA;
}

.button-color2:focus {
  background: #68A2CA;
}

.button-color2:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-color3:hover {
  background:#6C9E42;
}

.button-color3:focus {
  background:#6C9E42;
}

.button-color3:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-color0:hover {
  color: rgba(255, 255, 255, 0.4);
}

.button-color0:focus {
  border: 3px solid #83B3D3;
}

.button-color0:active {
  color: rgba(255, 255, 255, 0.3);
}
