@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  background-color:#ffffff;
  margin: 0;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756157;
}

.button-color0 {
  background-color: rgba(0, 0, 0, 0);
}

.button-color1 {
  background-color: #756157;
}

.button-color2 {
  background-color: #82B3D3;
}

.button-color3 {
  background-color: #7DB54F;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form .button  {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}


.header {
  background-color:#ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
}

.list, .breadcrumbs {
  list-style:none;
  padding-left: 0;
}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.welcome {
  color:#ffffff
  background-color: #000000;
  background: url("../images/welcome-background.jpg") no-repeat;
  background-size: 100% auto;
}

.main-index {
  text-align: center;
}

.advantages-title, .services-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:first-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:last-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.newsletter-index {
  color:#ffffff;
  background: url("../images/newsletter-background.jpg") no-repeat;
  background-size: 100% auto;
}

.field {
 font-size: 18px;
 line-height: 24px;
 color:#000000;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
  vertical-align: top;
}

.filter {
  background: #000000 url("../images/filter-background.jpg") no-repeat 50%/cover;
  color:#ffffff;
}

.header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color:#ffffff;
}

.results-of-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
}

.hotel-card-link {
  color:#333333;
  text-decoration: none;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.min-price {
  text-align: right;
}

.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  text-align: center;
}

.newsletter {
  text-align: center;
}
