@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756157;
}

.button-color0 {
  background-color: rgba(0, 0, 0, 0);
}

.button-color1 {
  background-color: #756157;
}

.button-color2 {
  background-color: #82B3D3;
}

.button-color3 {
  background-color: #7DB54F;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  display: block;
  margin: 0 auto;
}

.newsletter-form .button  {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  padding: 0;
  border: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  width: 1200px;
  background-color:#ffffff;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1060px;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-left: 70px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  width: 600px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  }

.navigation-user {
  max-width: 362px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 13px;
}

.navigation-item .button {
  display: inline-block;
  width: 160px;
  height: 36px;
  margin: 14px 70px 14px 22px;
  text-align: center;
  border-radius: 4px;

}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.welcome {
  color:#ffffff;
  width: 1200px;
  background-color: #000000;
  background: url("../images/welcome-background.jpg") no-repeat;
  background-size: 100% auto;
 }

 .logo {
  margin-top: 51px;
  margin-bottom: 82px;
 }
.main-index {
  width: 1200px;
  flex-grow: 1;
  text-align: center;
}

.main-page {
  width: 1200px;
  flex-grow: 1;
}

.advantages {
  width: 1200px;
  padding-top: 69px;
}

.advantages-slogan {
  margin: 0 290px 25px;
}

.advantages-promo {
  padding: 0;
  margin: 0 274px 69px;
}

.advantages-title, .services-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: block;
  width: 400px;
  height: 385px;
}

.advantages-item-image {
  width: 800px;
}

.advantages-title {
  padding: 0;
  margin: 112px 112px 62px;
}

.advantages-description {
  padding: 0;
  margin: 0 85px auto;
}

.advantages-item:first-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:last-child {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services {
  width: 1200px;
  padding-top: 64px;
}

.services-slogan {
  margin: 0 347px 20px;
}

.services-promo {
  margin: 0 355px 64px;
}

.services-list {
  display: flex;
  flex-direction: row;
}

.services-item {
  width: 400px;
  height: 385px;
  display: block;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.service-house {
  display: block;
  margin: 81px 161px 30px 163px;
}

.service-eating {
  display: block;
  margin: 82px 162px 31px 163px;
}

.service-souvenir {
  display: block;
  margin: 79px 167px 28px 168px;
}

.services-title {
  margin: 0 85px 30px;
}

.services-description {
  margin: 0 85px 81px;
}

.search {
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-slogan {
  margin: 0 451px 20px;
}

.search-description {
  display: block;
  margin: 0 304px 54px;
}

.newsletter {
  background-size: 100% auto;
  width: 1200px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.main-index .newsletter  {
  background: url("../images/newsletter-background.jpg") no-repeat;
  color:#ffffff;
}

.newsletter-slogan {
  padding: 0;
  margin: 0 398px 20px;
 }

.newsletter-description {
  padding: 0;
  margin: 20px 362px 54px;
}

.field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  background-color:#F2F2F2 ;
  width: 452px;
  height: 52px;
  padding: 0;
  border: 0;
}

.page-footer {
 display: flex;
 width: 1060px;
 padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
  vertical-align: top;
  width: 496px;
  text-align: center;
}

.footer-logo {
  width: 282px;
  }

.filter {
  background: #000000 url("../images/filter-background.jpg") no-repeat 50%/cover;
  color:#ffffff;
  width: 1200px;
}

.header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color:#ffffff;
}

.results {
  width: 1200px;
}

.results-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.breadcrumbs-item {
  font-size: 16px;
  list-style:none;
  padding: 0;
}

.filter-form {
  display: flex;
}

.results-view {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}

.results-of-search {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  flex-wrap: wrap;
  width: 1060px;
  justify-content: space-between;
}

.hotel-card {
  width: 340px;
  height: 438px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.control-input {
  line-height: 23px;
}

.select-control {
  font-family: inherit;
  color: #333333;
}

.hotel-card-link {
  color:#333333;
  text-decoration: none;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.type-of-hotel {
  display: inline-block;
  width: 150px;
}

.min-price {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.pagination {
  display: flex;
  padding-left: 70px;
}



.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  text-align: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  text-decoration: none;
  color:#ffffff;
  display: block;
  width: 60px;
  height: 60px;
 }

.pagination-current {
  color:#000000;
  background: #F2F2F2;
}
